.form-control {
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
  padding: 0.8rem;
  width: calc(100% - 1.6rem);
}

.select-control {
  @extend .form-control;
  appearance: auto;
  width: 100%;
}

.form-control-wrapper {
  margin-top: 20px;

  label {
    display: block;
    margin-bottom: 8px;
  }
}

.button {
  margin-top: 40px;
  width: 100%;
  background: #4f46e5;
  color: #ffffff;
  border-color: #4f46e5;
  border-radius: 4px;
  padding: 0.8rem;
  cursor: pointer;

  :hover {
    background: #8f8cc9;
  }
}

.label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #212121;
}
