table,
th,
td {
  color: #495057;
  background: #ffffff;
  border: 1px solid #ced4da;
}

table {
  width: 100%;
}

.title-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 20px 0;
  align-items: center;

  button {
    width: 150px;
    height: 42px;
  }
}
